doctype html 
html
  head
    title
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/css/bootstrap.css")
    style
     include css/style.css   
  body   
    ul
     li A
     li B
     li C
     
    