.list{
    background-color: red;
    margin: 20px;
  }
  ul{
    list-style: none;
  }
  .icon-bar{
    border: 2px solid rgba(0,240,200,0.5);
    width: 100%;
    background-color: rgb(234, 100,120);
    overflow: auto;
  }
  .icon-bar a{
    float: right;
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
   }
   .icon-bar a:hover {
     background-color:orange;
   }
   .active {
     background-color: #4CAF50 !important;
   }
   @media screen and (max-width: 300px){
    
     p,li{
       font-size: 18px;
     }
     .icon-bar {
      width: 30%; 
      overflow: none;
      
     }
     .icon-bar a{
       float: none;
     }
   }